#map {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.linear_bg {
    background: linear-gradient(94deg, #3cb4be, #43de7f 97%);
    border-radius: 5px !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.leaflet-top {
    top: 60px !important;
}